[submodule "src/com/collectivecolors/rpc"]
	path = src/com/collectivecolors/rpc
	url = git@github.com:collectivecolors/flex-com.collectivecolors.rpc
[submodule "src/com/collectivecolors/errors"]
	path = src/com/collectivecolors/errors
	url = git@github.com:collectivecolors/flex-com.collectivecolors.errors
[submodule "src/com/collectivecolors/validators"]
	path = src/com/collectivecolors/validators
	url = git@github.com:collectivecolors/flex-com.collectivecolors.validators
[submodule "src/com/collectivecolors/data"]
	path = src/com/collectivecolors/data
	url = git@github.com:collectivecolors/flex-com.collectivecolors.data
